<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christopher Suarez Mancilla">
    <script src="../componets/header/index.js"></script>
    <script src="../componets//mainEpisode/index.js"></script>
    <script src="../componets/footer/index.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/Health.png" type="image/x-icon">
    <title>Episode</title>
</head>
<body>
    <header-RaM></header-RaM>
    <main-episode></main-episode>
    <footer-ram></footer-ram> 
</body>
</html>